<!DOCTYPE html>
<html ng-app="securityApp">
<head>
    <title>Monitor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="/public/libs/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/public/libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/libs/angular.min.js"></script>
    <script type="text/javascript" src="/public/controllers/LoginController.js"></script>
    <script type="text/javascript" src="/public/services/httpRequests.js"></script>
	<script type="text/javascript" src="/public/js/app.js"></script>

    <script>
        <--! https://codeforgeek.com/2014/09/handle-get-post-request-express-4/ -->
          $(document).ready(function(){
            var user,pass;
            $("#submit").click(function(){
              user="papie"; //$("#user").val();
              pass= "pi";
              $.post("http://localhost:3000/login",{user: user,password: pass}, function(data){
                  if(data==='done') {
                    alert("login success");
                  }
              });
            });
          });
    </script>
</head>
<body ng-cloak>
	<div ng-controller="MainController as mainCtrl">
		<div class="container">
			<section ng-controller="LoginController as logCtrl" id="content">
				<form action="" ng-model="logCtrl.form" ng-submit="logCtrl.submitForm()" >
					<h1>Login Form</h1>
					<div>
						<input type="text" placeholder="Username" required="" name="username" id="username"  
                               ng-model="logCtrl.form.username" />
					</div>
					<div>
						<input type="password" placeholder="Password" required="" name="password" id="password" ng-model="logCtrl.form.passwrd" />
					</div>
					<div>
						<input type="submit" value="Log in" />
						<a href="#">Lost your password?</a>
						<a href="#">Register</a>
					</div>
				</form><!-- form -->
				<!--<div class="button">
				<a href="#">Download source file</a>
				</div>-->
                <hr />
                firstname: {{logCtrl.formData.firstname}}
                <hr />
			</section><!-- content -->
		</div><!-- container -->
        
    </div>
    
</body>
</html>