<form  class="container" name="saveTemplateData" action="#" ng-controller="FormController as formCtrl" ng-submit="formCtrl.submitForm()">
			
			<section id="content">
			<h1>Login Form</h1>
			<div>
			<input id="username"type="text" placeholder="Username" required ng-model="form.firstname"> 
			</div>
			<div class="row">
				<div class="col-md-4 required">Last name:</div>
				<div class="col-md-8">
					<input type="text" required ng-model="form.lastname"> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 required">Email Address:</div>
				<div class="col-md-8">
					<input type="email" required ng-model="form.emailaddress"> 
				</div>
			</div>
			
			<textarea rows="3" cols="25" ng-model="form.textareacontent"></textarea>

				<br/><br/>

			<input type="radio" ng-model="form.gender" value="female" />Female 
			<input type="radio" ng-model="form.gender" value="male" />Male <br/>

				<br/><br/>

			<input type="checkbox" ng-model="form.member" value="5"/> Already a member

				<br/><br/>

			<!--<input type="file" ng-model="form.file_profile" id="file_profile"><br/>
			<input type="file" ng-model="form.file_avatar" id="file_avatar">

				<br/><br/> -->

			<!-- <button ng-click="save()" >Save</button> -->
			<input type="submit" ngClick="Submit" >

		</form>